/**
 * Made by Tuhin Kanti Pal
 * Edited by Me(Shahnawaz Alam) for my Need
 * Visit https://tu.hin.life or kirito1.ga
 */
 
 
body {
	-youbkit-touch-callout: none;
	-youbkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: url("https://i.imgur.com/Th83zlO.jpg");
	background-size: auto;
}

.content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	width: 340px;
	background-color: #E31C25;
	background-image: linear-gradient(#E73C7E, #23A6D5, #23D5AB, #893FA6);
	border-radius: 10px;
	padding-top: 3px;
}

.avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.name {
	color: #1C1C1C;
	font-family: Krona One;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding: 15px 20px 1px 20px;
}

.bio {
	color: #1C1C1C;
	font-family: Krona One;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	padding: 10px 20px;
}

.socialdiv {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 200px;
	height: 60px;
	background: #1C1C1C;
	border-radius: 25px;
}

.social {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translate(0px, 14px);
}

.email {
	color: #1C1C1C;
	font-family: Krona One;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	padding: 10px 20px 30px 20px;
}

.email:hover {
    color: #2c2828;
}
 
.socialbtn:hover {
    transform: translate(0px, -3px);
    animation-name: headsup;
    animation-duration: 0.3s;
}
 
@keyframes headsup {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, -3px);
    }
}

/**
 * Made by Tuhin Kanti Pal
 * Edited by Me(Shahnawaz Alam) for my Need
 * Visit https://tu.hin.life or kirito1.ga
 */